$search-background-color: #F9FBFF;
$search-svg-color: #7E7E7E;
$search-sort-color: #3D3C42;
$search-title-color: #000000;
$main-background-color: #FFFFFF;
$main-color: #292D32;
$main-shadow-color: #E2ECF980;
$main-light-color: #B5B7C0;
$table-border-color: #EEEEEE;
$table-green: #008767;
$table-light-green: #16C09861;
$table-border-green: #00B087;
$table-red: #DF0404;
$table-light-red: #FFC5C5;
$table-border-red: #DF0404;
$pagination-button-active: #5932EA;
$pagination-button-inactive: #F5F5F5;
$pagination-button-inactive-border: #EEEEEE;
