@import 'variable';

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gothic A1", sans-serif;
}

.main {
  background-color: $main-background-color;
  display: flex;
  gap: 2vh;
  flex-direction: column;
  padding: 4vh 0vw 4vh 0vw;
  border-radius: 20px;
  min-width: 70vw;

  box-shadow: 0px 10px 60px 0px $main-shadow-color;
}

.sort-and-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 3vw 0 3vw;

  &__title {
    font-size: 22px;
    font-weight: 600;
  }

  &__svg {
    width: 1rem;
    height: 1rem;

    & path {
      stroke: $search-svg-color;
    }
  }

  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;

    font-size: 12px;
  

    &-group {
      background-color: $search-background-color;
      padding: 0 10px 0 10px;
      height: 2rem;
      border-radius: 10px;

      display: flex;
      justify-content: center;
      align-items: center;

      &--search {
        gap: 10px;

        & input {
          border: none;
          outline: none;
          background-color: $search-background-color;
          min-width: 8rem;
        }
      }
    
      &--sort {
        & select {
          border: none;
          outline: none;
          background-color: $search-background-color;
          color: $search-sort-color;
          font-weight: bold;
        }

        & option {
          &:checked {
            background-color: $search-background-color;
            font-weight: bold;
          }
        }
      }
    }

    &-search {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.table {
  display: flex;
  flex-direction: column;

  &__header {
    & th {
      font-weight: 500;
      color: $main-light-color;
      font-size: 14px;
    }
  }

  &__body {
    width: 100%;

    & td {
      font-weight: 600;
      color: $main-color;
      font-size: 14px;
    }
  }

  &__row {
    text-align: left;
    display: grid;
    grid-template-columns: 0.8fr 0.7fr 2fr 1fr 1fr 0.5fr;
    padding: 1.5vh 0 1.5vh 0;
    border-bottom: 1px solid $table-border-color;
    margin: 0 3vw 0 3vw;
  }

  &__row--first {
    text-align: left;
    display: grid;
    // grid-template-columns: 0.8fr 0.6fr 1.5fr 0.8fr 0.8fr 0.7fr;
    grid-template-columns: 0.8fr 0.7fr 2fr 1fr 1fr 0.5fr;
    padding: 1.5vh 3vw 1.5vh 3vw;
    border-bottom: 1px solid $table-border-color;
    margin: 0;
  }

  &__cell {
    &--body {
      display: flex;
      align-items: center;
    }

    &--active {
      background-color: $table-light-green;
      border: 1px solid $table-border-green;
      border-radius: 4px;
      color: $table-green !important;
      width: 5rem;
      text-align: center;
      padding: 4px 0 4px 0;
    }

    &--inactive {
      background-color: $table-light-red;
      border: 1px solid $table-border-red;
      border-radius: 4px;
      color: $table-red !important;
      width: 5rem;
      text-align: center;
      padding: 4px 0 4px 0;
    }
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3vw 0 3vw;

  &__text {
    color: $main-light-color;
    font-size: 14px;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  &__button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $pagination-button-inactive;
    border: 1px solid $pagination-button-inactive-border;
    border-radius: 4px;
    width: 2rem;
    height: 2rem;
    font-size: 12px;
    font-weight: bold;

    &--active {
      background-color: $pagination-button-active;
      border-color: $pagination-button-active;
      color: $main-background-color;
    }
  }

  &__span {
    width: 2rem;
    text-align: center;
  }
}
