* {
  box-sizing: border-box;
}

body {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gothic A1", sans-serif;
}

.main {
  background-color: #FFFFFF;
  display: flex;
  gap: 2vh;
  flex-direction: column;
  padding: 4vh 0vw 4vh 0vw;
  border-radius: 20px;
  min-width: 80vw;
  box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5019607843);
}

.sort-and-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 3vw 0 3vw;
}
.sort-and-search__title {
  font-size: 22px;
  font-weight: 600;
}
.sort-and-search__svg {
  width: 1rem;
  height: 1rem;
}
.sort-and-search__svg path {
  stroke: #7E7E7E;
}
.sort-and-search__form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  font-size: 12px;
}
.sort-and-search__form-group {
  background-color: #F9FBFF;
  padding: 0 10px 0 10px;
  height: 2rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sort-and-search__form-group--search {
  gap: 10px;
}
.sort-and-search__form-group--search input {
  border: none;
  outline: none;
  background-color: #F9FBFF;
  min-width: 8rem;
}
.sort-and-search__form-group--sort select {
  border: none;
  outline: none;
  background-color: #F9FBFF;
  color: #3D3C42;
  font-weight: bold;
}
.sort-and-search__form-group--sort option:checked {
  background-color: #F9FBFF;
  font-weight: bold;
}
.sort-and-search__form-search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  display: flex;
  flex-direction: column;
}
.table__header th {
  font-weight: 500;
  color: #B5B7C0;
  font-size: 14px;
}
.table__body {
  width: 100%;
}
.table__body td {
  font-weight: 600;
  color: #292D32;
  font-size: 14px;
}
.table__row {
  text-align: left;
  display: grid;
  grid-template-columns: 0.8fr 0.7fr 2fr 1fr 1fr 0.5fr;
  padding: 1.5vh 0 1.5vh 0;
  border-bottom: 1px solid #EEEEEE;
  margin: 0 3vw 0 3vw;
}
.table__row--first {
  text-align: left;
  display: grid;
  grid-template-columns: 0.8fr 0.6fr 1.5fr 0.8fr 0.8fr 0.7fr;
  padding: 1.5vh 0 1.5vh 0;
  border-bottom: 1px solid #EEEEEE;
  margin: 0;
}
.table__cell--body {
  display: flex;
  align-items: center;
}
.table__cell--first {
  margin-left: 3vw;
}
.table__cell--active {
  background-color: rgba(22, 192, 152, 0.3803921569);
  border: 1px solid #00B087;
  border-radius: 4px;
  color: #008767 !important;
  width: 5rem;
  text-align: center;
  padding: 4px 0 4px 0;
}
.table__cell--inactive {
  background-color: #FFC5C5;
  border: 1px solid #DF0404;
  border-radius: 4px;
  color: #DF0404 !important;
  width: 5rem;
  text-align: center;
  padding: 4px 0 4px 0;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3vw 0 3vw;
}
.pagination__text {
  color: #B5B7C0;
  font-size: 14px;
}
.pagination__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.pagination__button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  width: 2rem;
  height: 2rem;
  font-size: 12px;
  font-weight: bold;
}
.pagination__button--active {
  background-color: #5932EA;
  border-color: #5932EA;
  color: #FFFFFF;
}
.pagination__span {
  width: 2rem;
  text-align: center;
}/*# sourceMappingURL=styles.css.map */